{% extends "layout.html" %}
{% block title %}Edit Product{% endblock %}
{% block content %}
    <h1 class="title">Add Product</h1>

    <form action="" method="post" name="product_add">
      {{ form.csrf_token }}
      <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
          {{ form.name(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.name.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="price" class="label">Price</label>
        <div class="control">
          {{ form.price(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.price.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="imported" class="label">Imported Status</label>
        <div class="control">
          <select name = "imported">
            <option value = "Domestic Product">Domestic Product</option>
            <option value = "Imported">Imported</option>
          </select>        
        </div>
        {% for error in form.imported.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="category" class="label">Category</label>
        <div class="control">
          {{ form.category(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.category.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="info" class="label">Info</label>
        <div class="control">
          {{ form.info(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.info.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Add Product</button>
        </div>
      </div>
    </form>
{% endblock %}